allow platform_app nfc_service:service_manager find;
# gallery2 crop avatar
allow platform_app system_app_data_file:file { create_file_perms rw_file_perms };
